Package: qshare-gui-dbg
Source: qshare-gui
Version: 1.0.0
Architecture: amd64
Maintainer: m.eik michalke <meik.michalke@hhu.de>
Installed-Size: 47350
Depends: qshare-gui (= 1.0.0)
Section: debug
Priority: extra
Homepage: https://f.quadcom.com/slides
Description: Debugging symbols for the qShare-gui package.
 This package contains the debugging symbols for the qShare-gui package.
