#!/usr/bin/make -f
# -*- makefile -*-

%:
	dh $@ --builddirectory=build

override_dh_shlibdeps:
	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info

override_dh_auto_build:
	dh_auto_build --parallel

override_dh_strip:
	dh_strip -pqshare-gui --dbg-package=qshare-gui-dbg
