[Desktop Entry]
Name=qShare
Comment=qShare desktop sync client
TryExec=seafile-applet
Exec=seafile-applet
Icon=seafile
Type=Application
Categories=Network;FileTransfer;
